<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-primary">New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
            <a href="#" class="list-group-item clearfix">
                <div class="pull-left">
                        <h4 class="list-group-item-heading">First List Group Item Heading</h4>
                        <p class="list-group-item-text">List Group Item Text</p>
                </div>

                <span class = "pull-right">
                        <img class="img-responsive" src="" alt="">
                </span>    
            </a>
            <app-recipe-item></app-recipe-item>
    </div>
</div>